<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="no.kriben.bussan" android:versionCode="9"
        android:versionName="1.1">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

        <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="BussanApplication" android:theme="@style/Theme.Sherlock">
                <activity android:name=".FrontpageActivity" android:label="@string/app_name">
                        <intent-filter>
                                <action android:name="android.intent.action.MAIN" />
                                <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
                </activity>
                <activity android:name=".RealTimeActivity" android:label="Bussan: Bus stop"/>
                <activity android:name=".FindBusStopByNameActivity"
                        android:label="Bussan: All bus stops"/>
                <activity android:name=".FindBusStopByDistanceActivity"
                        android:label="Bussan: Closest bus stops"/>
                <activity android:name=".BusDepartureDetailActivity"
                          android:label="Bussan: Bus Departure"/>
        </application>
</manifest>